body {
    margin: 0;
    font-family: "Karla", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    height: 65px;
    padding: 20px 30px;
}

.header--logo {
    height: 100%;
}

.header--title {
    font-size: 1.75rem;
    margin-right: auto;
    letter-spacing: -0.13rem;
}

.header--sub-title {
    font-size: 1.15rem;
    font-weight: 500;
}

main {
    padding: 36px;
}

form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 25px;
}

.form--input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3.275px;
    color: #374151;
    font-size: 0.875rem;

    > input {
        font-family: "Karla", sans-serif;
        border-radius: 5px;
        padding: 10px 10px;
        border: 1px solid #D1D5DB;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

.form--button {
    font-family: "Karla", sans-serif;
    grid-column: 1 / -1;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    border: none;
    border-radius: 5px;
    color: white;
    height: 45px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}
